@model List<JassWeather.Models.SetRoleModel>

@{
    ViewBag.Title = "ListUsers";
}

<h2>Users</h2>
<table>
@foreach (var user in Model)
{
    <tr>
        <td>@user.UserName</td>
    </tr>
}
</table>



