@{
    ViewBag.Title = "AboutUsers";
}

<h2>About This</h2>

This web application lets you review which data is available on our external storage account.
Data that you can explore here can be dowloaded by external users.

Users in the Envirolity group will be able to see also another dashboard for internal information.

Users in the Admin group will be able to see all this and also are able to add/updata sources, variables, start processes,.
etc. 

<p></p>

<p>@if (!Request.IsAuthenticated){
    <text>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })    </text>
}</p>
