@{
    ViewBag.Title = "AboutUsers";
}

<h2>About This</h2>

<p>This web application lets general users review which data is available for download from our external storage account.</p>
<p>Users can explore data here before downloading. 
    The following document can help you navigate the dashboard.
    <a href="~/Content/Quick%20guide%20to%20use%20Envirolytic%20dashboard%20to%20understand%20which%20information%20is%20available.pdf">Quick guide to use Envirolytic dashboard to understand which information is available.pdf</a>
    
<p>When you have decided what to download
    You can use the following instructions to download information and also to upload it to MatLab.</p>
<a href="~/Content/Quick%20guide%20to%20get%20historical%20environmental%20sample%20information%20into%20Matlab.pdf">Quick guide to get historical environmental sample information into Matlab</a>
<p>Users in the Envirolytic group will be able to see also another dashboard for internal information.</p>

<p>Users in the Admin group are also to add/updata sources, variables, start processes, etc.
etc. </p>
