@{
    ViewBag.Title = "AboutUsers";
}

<h2>About This Application</h2>

<p>This web application dashboard lets general users review and understand which data is available for download from the Envirolytics Data Service</p>

<p>Click on the "Dashboard" menu item to start your navigation</p>

<p>The following document can help you navigate: </p>
<p><a href="~/Content/Quick%20guide%20to%20use%20Envirolytic%20dashboard%20to%20understand%20which%20information%20is%20available.pdf">
        Quick guide to use Envirolytic Dashboard</a></p>
    
<p>You can use the following instructions to actually download information and, if needed, to upload it to MatLab.</p>

<a href="~/Content/Quick%20guide%20to%20get%20historical%20environmental%20sample%20information%20into%20Matlab.pdf">
    Quick guide to download environmental sample information into Matlab</a>
<p>Users in the Envirolytic group will be able to see also an internal dashboard.</p>

<p>Users in the Admin group will also be able to add/update data sources, 
    environmental variables, start and end loading processes, inspect status and logs, etc.  </p>
