@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

<ul>
<li>@Html.ActionLink("Test1 of Macc-Narr Grid Mapper ", "MapMacc2NarrTest1", "Grid")</li>
<li>@Html.ActionLink("Test2 of Macc-Narr Grid Mapper (file) ", "MapMacc2NarrTest2", "Grid")</li>
</ul>

