@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

@Html.ActionLink("Test1 of Macc-Narr Grid Mapper ", "MapMacc2NarrTest1", "Grid")

@Html.ActionLink("Test2 of Macc-Narr Grid Mapper (file) ", "MapMacc2NarrTest2", "Grid")


