@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

<ul>
<li>@Html.ActionLink("Create Test Macc-Narr Grid Mapper ", "MapMacc2NarrTest", "Grid")</li>
<li>@Html.ActionLink("Create Test CFSR-Narr Grid Mapper ", "MapCFSR2NarrTest", "Grid")</li>
<li>@Html.ActionLink("Create Real CFSR-Narr Grid Mapper ", "MapCFSR2NarrReal", "Grid")</li>
</ul>

