@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
 <li>@Html.ActionLink("About This & Test", "TestGeneral", "Test")</li>
 <li>@Html.ActionLink("Test SDS", "TestSDS", "Test")</li>
 <li>@Html.ActionLink("Test5", "TestMerge5", "Test")</li>
 <li>@Html.ActionLink("TestAz", "TestWriteDataSet2Azure", "test")</li>  
</ul>

