<h1>Request </h1><br />

@ViewBag.request

<br/><br/>
<h1>Response</h1>
<table>
            @{Newtonsoft.Json.JsonTextReader reader = new Newtonsoft.Json.JsonTextReader(new StringReader(ViewBag.response));}
            @while (reader.Read())
            {
                  if (reader.Value != null){                       
                     <tr><td>@reader.TokenType</td><td>@reader.Value</td></tr>;
                  }
                else{
                     <tr><td>@reader.TokenType</td><td></td></tr>;
                }
            }
</table>