@model JassWeather.Controllers.BlobController.DeleteBlobRangeModel
@{
    ViewBag.Title = "DeleteBlobRange";
}

<h2>DeleteBlobRange</h2>

@ViewBag.Message

    <fieldset>
        <legend>JassBuilder</legend>
        <div class="editor-label">
            Variable
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.VariableName)
        </div>
                <div class="editor-label">
            Start Date
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.startDate)
        </div>
                <div class="editor-label">
            End Date
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.endDate)
        </div>
         <p>
            <input type="submit" value="Submit" />
        </p>
     </fieldset>
